/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
 	background-color: #333;
 	font-family: 'Roboto';
 }
input {
 	border-radius: 10px;
 }


.business-index-item {
 	list-style: none;
 	border: 1px solid rgba(0, 0, 0, 0.05);
 	padding: 5px;
 	margin: 2px;
 	background-color: #e9fcf4;
 	text-shadow: rgba(0,0,0,.15)

 }

.business-index-title {
 	font-size: 16px;
 }

.business-index-hours {
 	font-size: 14px;
 }

.business-index-price {
 	font-size: 14px;
 } 

.business-index-address {
 	font-size: 14px;
 	font-weight: 700px;
 }

.business-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: auto;
	background-color: #fff;
}

button {
	font-family: 'Roboto';
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	border-radius: 50%;
	padding: 5px;
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	border-color: white;
	border-style: none;
}

 @font-face {
 	font-family:'ParryHotter';
 	src: local('ParryHotter');
 }


